#app {

  .notebook-container {

    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: calc(100% - 50px);
    position: fixed;
    //font-size: 0px;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    color: #ffffff;

    #notebook{
      > ul{
        >li {
          border-bottom: 1px solid transparent;
          border-color: rgba(255, 255, 255, 0.05);
        }
      }
    }

    ul {
      //background-color: #41586e;
      padding: 0 0 0 10px;
      margin: 0;
      //background-color: #37485e;
      li {
        width: 100%;
        line-height: 30px;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;

        .fa-angle-right {
          width: 20px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          position: absolute;
          left: -20px;
        }

        .fa-angle-down {
          width: 20px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          position: absolute;
          left: -20px;
        }

        .left-setting {
          float: right;
          width: 20px;
          height: 30px;
          line-height: 30px;
          //display: none;

        }
        &:hover >div> .left-setting {
          display: block;
          pointer-events: none;
          cursor: default;
          opacity: 0.6;
        }
      }
    }

    .fa-left {
      display: inline-block;
      line-height: 35px;
      font-size: 16px;
      width: 35px;
      text-align: center;
      color: #ffffff;
    }

    .el-submenu__title {
      border-bottom: 1px solid #ffffff0d;
    }
    .folderHeader {

      width: 100%;
      color: #ffffff;
      line-height: 35px;
      text-align: center;
      //text-align: left;
      min-height: 35px;
      cursor: pointer;
      border-bottom: 1px solid #ffffff0d;

      //.fa-left {
      //  display: inline-block;
      //  line-height: 35px;
      //  font-size: 16px;
      //  width: 35px;
      //  text-align: center;
      //  color: #ffffff;
      //}
      //.fa-plus {
      //  display: inline-block;
      //  line-height: 35px;
      //  font-size: 16px;
      //  width: 170px;
      //  color: #adbece;
      //  text-align: center;
      //}

    }

    .search-notebook {
      width: 100%;
      color: #ffffff;
      line-height: 35px;
      text-align: center;
      min-height: 35px;
      cursor: pointer;
      border-bottom: 1px solid #ffffff0d;
      .el-input {
        height: 30px;

        .el-input__inner {
          height: 30px;
          color: #ccc;
          //border: 1px solid rgba(255, 255, 255, 0.1);
          background-color: #37485e;
          width: 90%;
          margin: 3px auto;
          margin-top: 0;
          border-color: #ebeff2;
          box-shadow: none;
        }
      }

    }

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        //height: calc(100% - 50px);
        height: 100%;
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      //display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      height: 36px !important;
      line-height: 36px !important;
      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active>.el-submenu__title {
      height: 36px !important;
      line-height: 36px !important;
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      height: 36px !important;
      line-height: 36px !important;
      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .notebook-container {
      width: $sideBarMiniWidth !important;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .notebook-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
